@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.site-header {
  background-color: #051d40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav_links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em;
}

li a {
  text-decoration: none;
  color: #b1d4e0;
}

.page-main {
  flex-grow: 1;
}

footer {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: auto;
  background-color: #051d40;
  color: #b1d4e0;
  justify-content: space-between;
  align-items: center;
  border: 2em;

}

.social_links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em;
}

.fa {
  font-size: 36px
}

.copyright {
  text-align: right;
}